/* @keyframes animacao {
    0% {
        transform: translateX(-5px);
    }
    
    50%{
        transform: translateX(5px);
    }

    100%{
        transform:  translateX(-5px);
    }
}

#bloco1, #bloco2, #bloco3 {
    animation: animacao  30s infinite;
}


 */

@keyframes animacao {
    0% {
        transform: translateX(-15px);
    } 50% {
        transform: translateX(15px);
    } 100% {
        transform: translateX(-15px);
    }
}

.N:hover, .B:hover, .C:hover, .D:hover {
    animation: animacao 10s infinite;
}


h1, h2 {
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
    margin-left: 200px;

}

h1 {
    margin-top: 200px;
    margin-left: 200px;

}

h2 {
    margin-top: 1700px;
    margin-left: 475px;
}


body {
    background: linear-gradient(to bottom, rgb(173, 4, 4), #b90303cc);
    margin: 0;
    height: 350vh;
    border-radius: 50px;
}

#barra {
    background: linear-gradient(to left, rgb(248, 248, 248), #ffffff);
    border-radius: 5px;
    padding: 10px;
    height: 60px;
}

#button {
    display: flex;    
    border: none;  
    margin-top: 900px;
    margin-left:200px;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;

}

.N, .B, .C, .D {
    color: rgb(255, 255, 255);
    border: solid 3px white;
    border-radius: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    height: 200px;
    overflow: hidden;
    padding: 0;
    box-shadow: 5px 5px 10px  #00000010, -5px -5px 10px #00000010;

}

.N img, .B img, .C img, .D img {
    /* opacity: 0.5; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#bloco1 {
    position: absolute;
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    margin-top: 400px;
    margin-left: 75px;
    width: 400px;
    height: 300px;
    box-shadow: 5px 5px 10px  #00000010, -10px -10px 15px #00000010;

}


.B1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    text-align: center;

}


.B2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    text-align: center;

    
}



#bloco2 {
    position: absolute;
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    margin-top: 400px;
    margin-left: 700px;
    width: 400px;
    height: 300px;
    box-shadow: 5px 5px 10px  #00000010, -10px -10px 15px #00000010;

}



.B3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    text-align: center;

}


.B4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    text-align: center;

    
}


#bloco3 {
    position: absolute;
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    margin-top: 400px;
    margin-left: 1400px;
    width: 400px;
    height: 300px;
    box-shadow: 5px 5px 10px  #00000010, -10px -10px 15px #00000010;

}


.B5{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    text-align: center;

}


.B6 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    text-align: center;

    
}
